<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/index.css" />
    <title></title>
  </head>
  <body>
    <form action="/books/<%= book._id %>?_method=PUT" method="POST">
      <input type="text" name="name" value="<%= book.name %>">
      <textarea name="description" rows="8" cols="80"><%= book.description %></textarea>
      <input type="text" name="author" value="<%= book.author %>">
      <button type="submit" name="button">Submit Changes</button>
    </form>
  </body>
</html>
