<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    * {
      font-family: arial, helvetica, 'sans serif';
    }
  </style>
  <body>
    <a href="/">Back</a>
    <h1>View All Books</h1>
    <a href="/books/new">Add a New Book</a>
    <% books.forEach(each => { %>
      <li><a href="/books/<%= each._id %>"><%= each.name %></a></li>
    <% }) %>
  </body>
</html>
