<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a new book</h1>
    <form action="/books" method="POST">
      <input type="text" name="name" placeholder="Book Title" />
      <input type="text" name="description" placeholder="Book Description" />
      <input type="text" name="author" placeholder="Book Author" />
      <button>Add</button>
    </form>
  </body>
</html>
